[Unit]
Description=Slurm node daemon (slurmd)
After=network-online.target munge.service
Wants=network-online.target
Requires=munge.service

[Service]
Type=simple
ExecStart={{ slurm_prefix }}/sbin/slurmd -D -s
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=131072
LimitMEMLOCK=infinity
LimitSTACK=infinity
Delegate=yes

[Install]
WantedBy=multi-user.target
